use std::env;
use archive_bot::ArchiveBot;

#[tokio::main]
async fn main() {
  let bot = ArchiveBot {
    token: env::var("SLACK_BOT_TOKEN").expect("Error: environment variable SLACK_BOT_TOKEN is not set."),
    notification_channel_id: env::var("SLACK_CHANNEL_ID").expect("Error: environment variable SLACK_CHANNEL_ID is not set."),
    filter_prefixes: vec!["-"],
    message_headers: vec![
      "Hey, you've got some cleaning up to do!",
      "Hey boss, take a look at these, will ya?",
    ],
    stale_after: 2 * 7 * 24 * 60 * 60,
    small_channel_threshold: 3,
    ..ArchiveBot::default()
  };

  match bot.run().await {
    Ok(_) => println!("Success!"),
    Err(e) => panic!("Uhoh! {:}", e),
  }
}
